/* Footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1.5rem 0;
    color: var(--white-color);
    background-color: var(--black-color);

    &__copyright {
        font-size: 12px;
        letter-spacing: 0.025em;
        text-transform: uppercase;
        text-align: center;
    }
}

