extends templates/template-base
append components
    -
        page = {
            link: 'home',
            attrs: {
                class: 'page-home'
            }
        }

append styles
append scripts

block content