-
    const PATH = pathPrefix;
    const staticPath = {
        css: `${PATH}css`,
        js: `${PATH}js`,
        img: `${PATH}img/content`,
    };
    const lang = 'en';
    let isModePreview = false;
    const isDemoChange = isPreview || isModePreview;
    const themeColor = 'light';

