{% macro content(data, path) %}
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="True"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ data.title }}</title>
    <meta name="description" content="{{ data.description }}"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="application-name" content="{{ data.description }}"/>
    <meta name="apple-mobile-web-app-title" content="{{ data.title }}">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ path }}assets/img/content/favicons/apple-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ path }}assets/img/content/favicons/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ path }}assets/img/content/favicons/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ path }}assets/img/content/favicons/favicon-16x16.png"/>
    {# <link rel="manifest" href="{{ path }}assets/img/content/favicons/site.webmanifest"/> #}
    <link rel="mask-icon" href="{{ path }}assets/img/content/favicons/safari-pinned-tab.svg", color="#5bbad5"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="theme-color" content="#ffffff"/>
{% endmacro %}